# DA 스터디 실습 02강

## Colab의 기본 정보들을 알아보자!

In [ ]:
!pip show pandas
#pip install pandas

In [ ]:
!pip show numpy
#pip install numpy

In [ ]:
!pip show matplotlib 
#pip install matplotlib

In [ ]:
#기본 설치된 python 모듈들 확인
!pip list

In [ ]:
#platform
import platform
print(platform.platform())

#OS
!cat /etc/issue.net

#CPU
!cat /proc/cpuinfo

#Memory
!cat /proc/meminfo

#storage
!df -h


#python version
!python --version

## 라이브러리(패키지)와 모듈을 추가해보자!!

Pandas, Numpy, Matplotlib 모두 패키지이다.

In [ ]:
### 모듈 (math)
import math

print(math.pi)
print(math.sqrt(2))

3.141592653589793
1.4142135623730951

In [ ]:
### import ~~ as 로 모듈이 쓰일 이름 지정 가능하다!
import math as abc

print(abc.pi)
print(abc.sqrt(25))

3.141592653589793
5.0

In [ ]:
### from ~ import 로 모듈에서 특정 클래스/함수/변수 만 가져올 수 있다.
from math import pi
print(pi)

# 런타임 초기화(변수, import 등 초기화) 하고 실행하면, 오류가 뜬다!
print(math.pi)

3.141592653589793

NameError: ignored

In [ ]:
from math import pi, sqrt
print(pi)
print(sqrt(4.0))

## "모든 것" 이라는 의미 : *
from math import *

## from ~ import ~ as
from math import pi as a
print(a)

### 가져온 모듈 해제
import math
print(math.pi)
del math
print(math.pi)

3.141592653589793
2.0
3.141592653589793
3.141592653589793

NameError: ignored

## 들어가기 전, **CRUD**에 대하여.

CRUD란,  
Create : 데이터를 생성하고    
Read : 데이터를 읽고   
Update : 데이터를 갱신히고(바꾸고)   
Delete : 데이터를 삭제하는   
것 이며,

대부분의 프로그램/구조들이 가지는 기본적인 데이터 처리 기능이다.  

우리가 이 4가지 기능만 잘 사용할 수 있다면 대부분의 작업을 해낼 수 있다.

뭔가를 배울 때 CRUD를 중심으로 생각해 보면 좋다.

## Pandas + Numpy를 알아보자!

---
**Pandas** : 파이썬에서 데이터 처리를 위한 패키지!  
데이터를 묶음으로 다루는 작업을 최적화 해준다!!   
    
> 기존 파이썬에 표 형태를 집어 넣으려면, 2차원 > > 배열로 만들어야 했다.  
> [['a', 'b'], [2, 3]]

Pandas를 사용하면,  

| a | b |  
| - | - |  
| 2 | 3 |  

요런 표 형태로 값을 생각하고, 다룰 수 있어 더 편리하다!

---

**Numpy** : 파이썬에서 수를 다루는 패키지!  
행렬과 배열, 수치 계산을 편리하게 해준다!

In [ ]:
# pandas는 주로 pd로 줄여 쓴다.
import pandas as pd
# numpy는 주로 np로 줄여 쓴다.
import numpy as np

Pandas에는 총 세 가지 데이터 구조 (data object)가 있다.  
1. Series (시리즈, 1차원 배열, 행 형태)  
2. **DataFrame** (데이터프레임, 2차원 배열, 행렬, 표 형태)  
3. Panel (패널, 3차원 배열)  
   
     
대부분의 데이터는 .csv 파일 형태이거나 표 형태인 경우가 많아서 **DataFrame**이 제일 많이 이용된다.

### Pandas - 1. Series
시리즈는 우리가 배웠던 1차원 배열 (파이썬에서 리스트)와 매우 비슷하지만,    

차이점은, **인덱스를 명시적**으로 붙일 수 있다는 것이다.  

> 파이썬의 리스트 : `list = [4, '가', 12, 49]` 에서 인덱스는, list[0], list[3] 등으로 숫자로만 써야 했다.  
> 
> 시리즈에서는 인덱스마다 이름을 붙여줄 수 있다.   
> 
> (명시적으로 붙이지 않으면 list처럼 자동으로 0부터 붙는다.)   아래서 확인해 보자.

In [ ]:
import pandas as pd
import numpy as np

# 시리즈를 생성(정의)하고, 각 값에 대한 인덱스를 하나하나 붙여줄 수 있다.
## 각 도시의 인구 수
s = pd.Series(data=[9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
print(s)


# 인덱스를 명시적으로 붙이지 않으면, 자동으로 0부터 붙게 된다.
# nan : Not a Number , 즉, 값이 없는 데이터이다. (결측치)
s1 = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s1)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

인덱스를 붙이는 이유는, 한 값을 다른 값과 구분하기 위해서이다.  
=> 식별자, DB에서 기본키 역할  
=> 단, 인덱스명이 중복 가능하다! (iloc 명령어로 구분 가능하기 때문)  

시리즈는 index - value 쌍이 모여있다고 보면, python의 dictionary 자료형과 같다.

#### Series - index / value 접근, index 슬라이싱
**Read**

In [ ]:
#index와 value에 따로 접근이 가능하다.
print(s.values)
print(s.index)
print()

#index 자체에 이름을 붙여줄 수 있다.
s.index.name = "도시"
print(s)
print()


# 인덱스를 또 변경이 가능하다!
s.index = ['a', 'b', 'c', 'd']
print(s)

[9904312 3448737 2890451 2466052]
Index(['a', 'b', 'c', 'd'], dtype='object')

도시
a    9904312
b    3448737
c    2890451
d    2466052
dtype: int64

a    9904312
b    3448737
c    2890451
d    2466052
dtype: int64

In [ ]:
# 한 번에 여러 인덱스에 접근 / 슬라이싱 하려면, .loc, .iloc을 써 주면 된다!
## label-location, integer location

print(s.loc['a':'c'])
print()
print(s.iloc[2:3])
print()
print(s.loc[ ['b', 'd'] ])

a    9904312
b    3448737
c    2890451
dtype: int64

c    2890451
dtype: int64

b    3448737
d    2466052
dtype: int64

#### series 값 추가 / 수정 / 삭제
**Create**  
**Update**  
**Delete**

In [ ]:
# 단일 값을 Series에 추가하려면, 새로운 index를 지정하면서 loc, iloc을 이용하면 된다!
s.loc['새로운 값'] = 'new'
print(s)

a        9904312
b        3448737
c        2890451
d        2466052
새로운 값        new
dtype: object

In [ ]:
# 단일 값을 수정하려면, 이미 있는 index에 loc, iloc으로 접근하면 된다.
s.loc['새로운 값'] = 'old'
print(s)

a        9904312
b        3448737
c        2890451
d        2466052
새로운 값        old
dtype: object

In [ ]:
# 단일 값을 삭제하려면, 이미 있는 index와 drop을 사용하면 된다. 
# (단, drop은 객체만 반환해서, 다시 변수에 넣어주는 과정 필요)
s = s.drop('새로운 값')
print(s)

a    9904312
b    3448737
c    2890451
d    2466052
dtype: object

#### series 늘리기 / 합치기

In [ ]:
## series를 더 늘리거나 합치고 싶을 때는 다른 series를 만들어서 append() 해주면 된다.
news = pd.Series(data=['안','녕','하','세','요'])

# append() 같은 명령을 쓸 때, 원본 데이터를 건드리는지 여부도 확인해야 한다.
## 여기서 list와 다르게, 원본은 건드리지 않고 새로운 객체를 반환한다. 
## => 따로 변수에 저장 필요
appends = s.append(news)
print(appends)
print()

# ignore_index 옵션 : index를 없애고 기본으로 되돌림.
appendsIdx = s.append(news, ignore_index=True)
print(appendsIdx)

a    9904312
b    3448737
c    2890451
d    2466052
0          안
1          녕
2          하
3          세
4          요
dtype: object
0    9904312
1    3448737
2    2890451
3    2466052
4          안
5          녕
6          하
7          세
8          요
dtype: object

### Pandas - 2. Dataframe

Pandas의 Dataframe은 관계형 데이터베이스의 Table 개념과 많이 닮아 있다.  

세로, 열을 column이라 하고,  
가로, 행을 row라 한다.

---
데이터 프레임의 직접 생성:
1. 딕셔너리 + 리스트를 이용해서 2차원 배열 형태를 만들어서 바로 DataFrame에 집어 넣기   
`{컬럼명 : [컬럼 값들]}`  
2. index, columns 리스트를 각각 만들어서 집어 넣기  
`pd.DataFrame(data, index=[], columns=[])`
  
Series 처럼 맨 왼쪽에 인덱스가 자동 생성되며, 맨 첫째 줄에는 각각의 컬럼명이 들어간다.

In [ ]:
import pandas as pd
# 방법 1
data = {
    "KCA 스터디" : ["자료구조", "알고리즘", "git_github", "데이터 분석"],
    "오전/오후" : ["오후", "오후", "오후", "오후"],
    "시간" : ["7시", "7시", "7시", "7시 50분"],
    "날짜" : ["금", "일", "목", "금"]
}
#주로 dataframe은 df라 줄여 쓴다.
df = pd.DataFrame(data, index=['스터디1', '스터디2', '스터디3', '스터디4'])
print(df, '\n')

         KCA 스터디 오전/오후      시간 날짜
스터디1        자료구조    오후      7시  금
스터디2        알고리즘    오후      7시  일
스터디3  git_github    오후      7시  목
스터디4      데이터 분석    오후  7시 50분  금

KCA 스터디    object
오전/오후      object
시간         object
날짜         object
dtype: object

In [ ]:
# 방법 2
# 단, 방법 1이랑 방향 주의!
data = [
    ['a', 'b', 'c'],
    ['가','나','다'],
    [1,2,3]
]
df2 = pd.DataFrame(data=data, index=['영어', '한글', '숫자'], columns=['첫 번째', '두 번째', '세 번째'])
print(df2)

   첫 번째 두 번째 세 번째
영어    a    b    c
한글    가    나    다
숫자    1    2    3
첫 번째    object
두 번째    object
세 번째    object
dtype: object

#### DataFrame index / value 접근, 슬라이싱 (loc, iloc)

label-location, integer-location

In [ ]:
print(df.index, '\n')
print(df.values, '\n')
# 시리즈에는 없던 열 이름에 접근할 수 있다. 
# (column명을 각 열에 대한 인덱스로 볼 수 있음)
print(df.columns, '\n')

Index(['스터디1', '스터디2', '스터디3', '스터디4'], dtype='object')

[['자료구조' '오후' '7시' '금']
 ['알고리즘' '오후' '7시' '일']
 ['git_github' '오후' '7시' '목']
 ['데이터 분석' '오후' '7시 50분' '금']]

Index(['KCA 스터디', '오전/오후', '시간', '날짜'], dtype='object')

In [ ]:
#시리즈처럼, 인덱스들과 컬럼명들에 이름을 붙일 수 있다.
df.index.name = "인덱스이름"
df.columns.name = "컬럼이름"
print(df)

컬럼이름      KCA 스터디 오전/오후      시간 날짜
인덱스이름
스터디1         자료구조    오후      7시  금
스터디2         알고리즘    오후      7시  일
스터디3   git_github    오후      7시  목
스터디4       데이터 분석    오후  7시 50분  금

#### DataFrame 슬라이싱
DataFrame은 2차원 데이터라서, 슬라이싱을 열 기준, 행 기준으로 각각 할 수 있음.  

슬라이싱을 통해 우리는 DataFrame의 원하는 부분만 읽을 수 있다.  

**READ**

In [ ]:
# 열 기준으로 슬라이싱 : 컬럼명 이용
print(df['KCA 스터디'], "\n")
print(df['KCA 스터디':'시간'], "\n")
print(df[ ['KCA 스터디', '시간'] ], "\n")

인덱스이름
스터디1          자료구조
스터디2          알고리즘
스터디3    git_github
스터디4        데이터 분석
Name: KCA 스터디, dtype: object

컬럼이름      KCA 스터디 오전/오후      시간 날짜
인덱스이름
스터디1         자료구조    오후      7시  금
스터디2         알고리즘    오후      7시  일
스터디3   git_github    오후      7시  목
스터디4       데이터 분석    오후  7시 50분  금

컬럼이름      KCA 스터디      시간
인덱스이름
스터디1         자료구조      7시
스터디2         알고리즘      7시
스터디3   git_github      7시
스터디4       데이터 분석  7시 50분

In [ ]:
# 행 기준으로 슬라이싱
print(df.loc['스터디1'], '\n')
print(df.loc['스터디1':'스터디3'])

컬럼이름
KCA 스터디    자료구조
오전/오후        오후
시간           7시
날짜            금
Name: 스터디1, dtype: object

컬럼이름      KCA 스터디 오전/오후  시간 날짜
인덱스이름
스터디1         자료구조    오후  7시  금
스터디2         알고리즘    오후  7시  일
스터디3   git_github    오후  7시  목

In [ ]:
# 행 / 열 동시에 슬라이싱 
print(df.loc['스터디1', 'KCA 스터디'], '\n')

print(df.loc[['스터디1', '스터디2'], ['시간', 'KCA 스터디']], '\n')


# iloc 사용  (주의! index명, 컬럼명 모두 숫자로 써야 한다!!)
print(df.iloc[1, 1], '\n')

print(df.iloc[[1,2], [0,3]], '\n')

자료구조

컬럼이름   시간 KCA 스터디
인덱스이름
스터디1   7시    자료구조
스터디2   7시    알고리즘

오후

컬럼이름      KCA 스터디 날짜
인덱스이름
스터디2         알고리즘  일
스터디3   git_github  목

#### DataFrame 데이터 추가 / 수정 / 삭제
위에서 보았듯이, 데이터프레임은 각각의 시리즈들이 합쳐진 것,  
list가 합쳐진 것으로 볼 수 있다.  

**CREATE**  
**UPDATE**  
**DELETE**

In [ ]:
# 데이터 추가하기 : 위의 행, 열 접근에서 추가할 수 있다.
# 열 데이터 추가하기
df['인원수'] = [3, 5, 4, 9]
print(df, '\n')

# 행 데이터 추가하기
df.loc['스터디5'] = ['C 프로그래밍', '오전', '11시', '월', '6']
print(df, '\n')

         KCA 스터디 오전/오후      시간 날짜  인원수
스터디1        자료구조    오후      7시  금    3
스터디2        알고리즘    오후      7시  일    5
스터디3  git_github    오후      7시  목    4
스터디4      데이터 분석    오후  7시 50분  금    9

         KCA 스터디 오전/오후      시간 날짜 인원수
스터디1        자료구조    오후      7시  금   3
스터디2        알고리즘    오후      7시  일   5
스터디3  git_github    오후      7시  목   4
스터디4      데이터 분석    오후  7시 50분  금   9
스터디5     C 프로그래밍    오전     11시  월   6

In [ ]:
# 열 데이터 변경하기
df['인원수'] = [0, 0, 0, 0, 0]
print(df, '\n')

# 행 데이터 변경하기
df.loc['스터디5'] = ['JAVA 프로그래밍', '오전', '11시', '월', '6']
print(df, '\n')

# 특정 부분만 변경하기
df.loc['스터디5', '오전/오후'] = '오후'
print(df, '\n')

         KCA 스터디 오전/오후      시간 날짜  인원수
스터디1        자료구조    오후      7시  금    0
스터디2        알고리즘    오후      7시  일    0
스터디3  git_github    오후      7시  목    0
스터디4      데이터 분석    오후  7시 50분  금    0
스터디5  JAVA 프로그래밍    오전     11시  월    0

         KCA 스터디 오전/오후      시간 날짜 인원수
스터디1        자료구조    오후      7시  금   0
스터디2        알고리즘    오후      7시  일   0
스터디3  git_github    오후      7시  목   0
스터디4      데이터 분석    오후  7시 50분  금   0
스터디5  JAVA 프로그래밍    오전     11시  월   6

         KCA 스터디 오전/오후      시간 날짜 인원수
스터디1        자료구조    오후      7시  금   0
스터디2        알고리즘    오후      7시  일   0
스터디3  git_github    오후      7시  목   0
스터디4      데이터 분석    오후  7시 50분  금   0
스터디5  JAVA 프로그래밍    오후     11시  월   6

In [ ]:
# 행/열 삭제하기 : drop()
# drop()에서 행/열 구분은 axis로 한다!
# axis=1 : 컬럼값(레이블, label), axis=0: 인덱스

# drop()은 한 번 다시 저장해주어야 한다!
df = df.drop('스터디5', axis=0)
print(df, '\n')

df = df.drop('인원수', axis=1)
print(df, '\n')

KeyError: ignored

#### 행/열 단위 연산

In [ ]:
#DataFrame은 행/열 단위로 연산이 가능하다!!
#반복문을 안 써도 됨 + 반복문보다 연산 속도 빠름.
data = {
    'a':[1, 2, 3, 4, 5],
    'b':[4, 2, 1, 5, 6],
    'c':[9, 6, 8, 7, 10]
}
dfNum = pd.DataFrame(data)
print(dfNum, '\n\n')


print(dfNum['a'] - dfNum['b'], '\n')

print(dfNum['a'] / dfNum['b'], '\n')

print(dfNum.loc[1] / dfNum.loc[2], '\n')

   a  b   c
0  1  4   9
1  2  2   6
2  3  1   8
3  4  5   7
4  5  6  10


0   -3
1    0
2    2
3   -1
4   -1
dtype: int64

0    0.250000
1    1.000000
2    3.000000
3    0.800000
4    0.833333
dtype: float64

a    0.666667
b    2.000000
c    0.750000
dtype: float64

### Pandas - 외부 파일 읽고 쓰기

---
기본으로 주어지는 sample data (csv)를 받아와 보자.  
  
Pandas에서 csv 파일 읽기/쓰기 명령은,  
`read_csv` / `to_csv` 이다.    
  
파일을 처음 읽어오면, 맨 앞 줄에 index가 0부터 자동으로 부여된다.

In [ ]:
import os
# 현재 이 파일이 위치한 경로
print(os.getcwd())

import pandas as pd
# 현재 파일 위치 + sample data 경로로 data 접근.
df = pd.read_csv(f"{os.getcwd()}" + "/sample_data/california_housing_test.csv")
print(df)

# df 변수의 type 확인
# python은 처음 변수 선언 시 type이 정해지지 않아서, 자주 확인하는 것이 디버깅에 좋음.
print(type(df))

# 각 컬럼의 type 출력
print(df.dtypes)

/content
      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Pandas Dataframe과 Database 개념  

Pandas의 Dataframe은 관계형 데이터베이스의 Table 개념과 많이 닮아 있다.  

---

세로, 열을 column이라 하고,  
가로, 행을 row라 한다.

In [ ]:
# 각 컬럼의 type 출력
print(df.dtypes)